<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <title>Document</title>
</head>

<body>
    <div>토큰 인증값 받기</div>
    <script>
        const code = new URL(window.location.href).searchParams.get("code");
        console.log(code);
        const cliend_id = "e200f1193006b60988254a352d88310c";
        const REDIRECT_URI = "http://localhost:3000/oauth";
        const url = `https://kauth.kakao.com/oauth/authorize?response_type=code&client_id=${cliend_id}&redirect_uri=${REDIRECT_URI}
    `;
        const result = await axios({
            method: 'POST',
            url: "https://kauth.kakao.com/oauth/token",
            data: {
                grant_type: "authorization_code",
                cliend_id,
                REDIRECT_URI,
                code,
            },
        }).then((res) => {
            console.log(res.data);
            axios({
                mehtod: 'GET',
                url: ,
                headers
            })
        })
        console.log(result);
    </script>
</body>

</html>