<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <title>Document</title>
</head>
<body>
    <form name="visitor">
        <fieldset>
            <legend>방명록 등록</legend>
            <input type="text" id="name" placeholder="사용자 이름" /><br />
            <input type="text" id="comment" placeholder="방명록" /><br />
            <div id="register">
                <button type="button" onclick="createVisitor()">등록</button>
            </div>
        </fieldset>
    </form>
    <hr/>
    <table border="1" cellspacing="0">
        <thead>
            <tr>
                <th>ID</th>
                <th>작성자</th>
                <th>방명록</th>
                <th>수정</th>
                <th>삭제</th>
            </tr>
        </thead>
        <tbody>
            
        </tbody>

    </table>
</body>
</html>