<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

</head>

<body>
    <form name="register">
        <label for="name">이름</label>
        <input type="text" name="name" id="name" required>
        <br />
        <fieldset>
            <legend>성별</legend>
            <input type="radio" name="gender" value="남자" id="man">
            <label for="man">남자</label>
            <input type="radio" name="gender" value="여자" id="man">
            <label for="woman">여자</label>
        </fieldset>
        <br>
        <button type="button" onClick="ajaxGet()">ajax get 제출</button>
        <button type="button" onClick="ajaxPost()">ajax post 제출</button>
        <button type="button" onclick="axiosGet()">axios get 제출</button>
        <button type="button" onclick="axiosPost()">axios post 제출</button>
        <button type="button" onClick="fetchGet()">fetch get제출</button>
        <button type="button" onClick="fetchPost()">fetch post제출</button>

    </form>
    <div class="result"></div>

    <script>
        const result = document.querySelector(".result");
        function
            ajaxGet() {
            console.log('ajaxGET!!!!!')
            //폼 선택하기
            const form = document.forms['register'];

            console.dir(form);
            console.dir(form.name);

            const data = {
                name: form.name.value,
                gender: form.gender.value
            };

            //ajax
            $.ajax({
                type: "POST",
                url: "/ajax",
                data: data,
                success: function (abc) {
                    console.log(abc);
                    result.textContent = `이름은 ${abc.name}이고요, 성별은 ${abc.gender}입니다.`;

                }
            })

            //ajax 비동기 통신
            $.ajax({
                url: '/ajax',
                type: 'GET',
                data: data,
                success: function (data) {
                    console.log("진짜", data);
                    result.textContent = `이름은 ${data.name}이고요, 성별은 ${data.gender}입니다.`;
                },
            });
        }

        function ajaxPost() {
            console.log('ajax POST!!!!!');

        }

        function axiosGet() {
            console.log('axios GET!!!!!!')
            //폼 선택하기
            const form = document.forms['register'];

            const data = {
                name: form.name.value,
                gender: form.gender.value,
            };

            axios({
                url: '/axios',
                method: 'GET',
                params: data,//get일 떄는 params
            }).then(function (abc) {
                console.log(abc.data);
                const { name, gender } = abc.data;
                result.textContent = `axios GET : 이름은 ${name}, 성별은 ${gender} `;
            });
        }

        function axiosPost() {
            console.log('axios POST!!!!!')

            const form = document.forms['register'];
            const data = {
                name: form.name.value,
                gender: form.gender.value,
            };

            axios({
                method: "POST",
                url: '/axios',
                data: data, //post일 때는 data
            }).then(function (abc) {
                console.log(abc);
                const { name, gender } = abc.data;
                // const name=abc.data.name;
                // const gender=abc.data.gender;
                result.textContent = `axios POST: 이름은 ${name}, 성별은 ${gender}`;
            });
        }

        function fetchGet() {
            console.log("fetch GET!!!!!!")
            const form = document.forms['register'];

            //1번 방법 - 변수에 넣는 방법
            // const query =`?name=${form.name.value}&gender=${form.gender.value}`;
            // fetch(`/fetch${query}`)

            //2번 방법
            fetch(`/fetch?name=${form.name.value}&gender=${form.gender.value}`, {
                method: 'GET',
            }).then(function (abc) {
                console.log(abc);
                return abc.json();
            }).then(function (data) {
                // console.log(data);
                const { name, gender } = data
                result.textContent = `fetch GET: 이름은 ${name} 성별은 ${gender}`
            });
        }

        function fetchPost() {
            console.log("fetchPost!!!!!!")
            const form = document.forms['register'];
            const data = {
                name: form.name.value,
                gender: form.gender.value
            }

            fetch('/fetch', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(data),
            }).then(function (abc) {
                // console.log(abc);
                return abc.json()
            }).then(function (data) {
                const { name, gender } = data;
                result.textContent = `fetch POST: 이름은 ${name} 성별은 ${gender}`
            })
        }
    </script>
</body>

</html>