<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <!-- <div style="width: 400px; height: 300px; background-color: rgb(124, 201, 240); margin-top: 10%; margin-left: 10%;">
        안내
        <div>인터넷 익스플로러 지원 종료 안내</div>
    </div> -->
    <div style="background-color: aquamarine;" class="modal" id="exampleModal" tabindex="-1"
        aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">안내</h5>
                    <div class="modal-body">
                        인터넷 익스플로러 지원 종료 안내
                    </div><br />

                </div>

                <div class="modal-footer">
                    <input type="checkbox" aria-label="Checkbox for following text input">오늘 그만보기
                </div>
                <button id="checkbox" type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
    </div>

</body>
<script>
    $("input:checkbox").is("checked").val({ result: true })


</script>

</html>